<h1 align="center">Natural Disaster Alert System</h1>
<h3 align="center">A step towards saving lives with tech</h3>
<form action="http://google.com">
    <input type="submit" value="Watch a video on how" />
</form>
<form action="/process" target="_blank" method="POST">
	<div horizontal layout>
		<p>Disaster</p>
		<input name="calamity" type = "text">
	</div>
	<div horizontal layout>
		<p>Latitude(optional)</p>
		<input name="latitude" type="text">
	</div>
	<div horizontal layout>
		<p>Longitude(optional)</p>
		<input name="longitude" type="text">
	</div>
	<div horizontal layout>
		<p>Radius(optional)</p>
		<input name="radius" type="text">
	</div>
	<p></p>
	<p>Tweets from all over the world be extracted if Latitude and Longitude are not provided.</p>
	<input type="submit" value="Start">
</form>